.col-md-12 > h3 {
    color: #37A691;  
/* background: #52C2AD; */
/* border: 1px solid #3AA994 !important; */
}
.col-md-6 > h3 {
    color: #37A691;  
/* background: #52C2AD; */
/* border: 1px solid #3AA994 !important; */
}

.ilust{
    display: block;
}

.next-page:hover{ text-decoration: none; }
.next-page:visited{ text-decoration: none; }
.next-page{
    float: right;
    padding: 10px;
    font-weight: bold;
    background-color: #EEEEEE;
    color: #37A691;
}
.next-page:hover{
    cursor: pointer;
    background-color: #37A691;
    color: white;
}

.prev-page{
    float: left;
}


.submateri-next:hover{ text-decoration: none; }
.submateri-next:visited{ text-decoration: none; }
.submateri-next{
    display: block;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #EEEEEE;
    color: #37A691;
}
.submateri-next:hover{
    cursor: pointer;
    background-color: #37A691;
    color: white;
}


.video-iframe{
    width: 100%
}

.materi-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.materi-item > img {
    margin-bottom: 10px;
    border-radius: 5px;
}
.materi-item:hover > img{ 
    filter: grayscale(50%);
}
.materi-item:hover{ text-decoration: none; }
.materi-item:visited{ text-decoration: none; }
.materi-item{
    border-radius: 5px;
    display: block;
    width: 220px;
    text-align: center;
    /* min-width: 220px; */
    /* max-width: 220px; */
    /* flex: 24%; */
    padding: 20px;
    gap: 10px;
    margin: 10px;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #EEEEEE;
    color: #656565;
}

.materi-item:hover{
    cursor: pointer;
    background-color: #37A691;
    color: white;
}

